<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8"/>
		<title>Hugh Ybarra</title>

		<!-- css reset -->
		<link rel='stylesheet' href="css/reset.css">
		<!-- BootStrap CDN -Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- less -main.css -->
		<link rel="stylesheet" href="css/main.css">
		<!-- favicon -->
		<link rel="icon" href="media/images/portfolio/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="media/images/portfolio/favicon.ico" type="image/x-icon">
	</head>

	<body class="container-fuild">

		<section class="section_landing col-xs-12" id="section_landing">

			<div class="navigation col-lg-4 col-lg-offset-4
									col-md-6 col-md-offset-3">
				<ul class="">
					<li class="home_button"><p>HUGHYBARRA.COM</p></li>
					<li class="about_button"><p>ABOUT</p></li>
					<li class="contact_button"><p>CONTACT</p></li>
					<li class="git_button"><p>GITHUB</p></li>
					<li class="resume_button"><p>RESUME</p></li>
				</ul>
			</div>

		</section>

		<!-- end section landing -->
		<section id="section_about" class="section_about col-xs-12
														 col-lg-12" >

			<div class="about_text col-lg-10 col-lg-offset-1
									col-md-10 col-md-offset-1">
				<h3>A Little Bit About Me</h3>
				<p class="text-left">
					Hey how goes it? My name is Hugh Ybarra and your visiting my portfolio website. I’m originally from Tucson Arizona but spent most of my childhood growing up in Mexico City. I enjoy travelling and exploring the world. I'm always looking for some change, something new and exciting, and something to keep me busy.
				</p>
				<p>

					You could say that I’m a bit of a foodie, and coffee shop junkie. You can usually find me spending my free time in a busy coffee shop pounding espresso and hacking away at my computer. I enjoy coding a lot, Its my new found passion. I used to play video games but found that I enjoy making them more than I like playing them.
				</p>
				<p>

					I recently graduated from Full Sail University with a degree in Web Design and Development, and im trying to get my start in the web development industry. I’m glad to be finished and ready to start working with what I have learned
				</p>
				<p>

					I’m a veteran of the United States Army. I used to be a 19Kilo (M1 Armor Crewman) which means I used to drive tanks. Yup that right I said tanks. I was active duty for four years and national guard for two. While in, I got to do all of the fun soldiering stuff , and all of the other not so much fun that goes along with soldiering. I deployed to Iraq for 15 months and got to travel all over that country. I was stationed in Fort Hood Texas, Natick Labs, Fort Knox, FOB Marez/Diamondback, and Fob Sykes. I really enjoyed being a soldier. The army made me the man I am today.

				</p>
				<p>
					That just about sums up the last ten years in a nutshell. if you have any questions or would like to know something more about me feel free to get in touch I would love to hear from you.
				</p>
			</div>

		</section>
		<!-- end section about -->

		<section id="section_contact" class="section_contact col-xs-12
															 col-lg-6 col-lg-offset-3
															 col-md-6 col-md-offset-3">

			<div class="contact_information col-xs-12">

				<h3>Get in touch</h3>
				<p>Here are some of the ways you can get in touch with me.</p>
				<ul>
					<li>Twitter.com: <a href="https://twitter.com/HughYbarra">twitter.com/HughYbarra</a></li>
					<li>Skype.com Hugh.Ybarra</li>
					<li>Gmail: Hugh.ybarra@gmail.com</li>
					<li>Phone: (254)423-5714</li>
					<li>Facebook.com: <a href="https://www.facebook.com/hugo.ybarra">facebook.com/hugo.ybarra</a></Li>
				</ul>
				<p>
					Feel free to contact me at any time. I would love to hear from you.
				</p>

			</div>
			<!-- end contact information div -->
		</section>
		<!-- end section contact -->

		<section  id="section_git" class="section_git
										 col-xs-12">

			<div class="git_info col-lg-6 col-lg-offset-3
								col-md-6 col-md-offset-3
								col-sm-10 col-sm-offset-1
								col-xs-11 col-xs-offset-1">

				<div class="">
					<img src="media/images/portfolio/GitHub_Logo.png" class='img-responsive col-lg-5
																							col-md-5
																							col-sm-5
																							col-xs-10'>
				</div>

				<div class=" col-lg-6 col-lg-offset-1
							 col-md-12
							 col-xs-12">
					<h3>Here are some of my GitHub projects</h3>
					<ul>
						<li><a href="index.php?action=protozone">Protozone</a></li>
						<li><a href="index.php?action=weather_api">Weather API</a></li>
					</ul>
					<p>Head on over to Gihub.com and check out my profile</p>
					<a href="https://www.github.com/hughybarra">www.github.com/hughybarra</a>
				</div>

			</div>
			<!-- end div info -->

		</section>
		<!-- end section git -->

		<section id="section_resume"  class="section_resume col-xs-12
															col-lg-6 col-lg-offset-3">

			<div class="resume_div col-xs-12">

				<h3 class="text-center">Check Out My Resume</h3>
				<div class="big_resume_button">
					<p>THE BIG RESUME BUTTON</p>
				</div>
			</div>

		</section>
		<!-- end section resume -->

		<!-- jquery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- main js -->
		<script src="js/main.js"></script>

	</body>
</html>