<h1>Final Project</h1>


<p>My project is a business model for restaurant website development. The goal is to speed up all aspects of development when developing a site from the start to increase productivity for myself and my company. I plan on having a set of predesigned solutions to pick from ranging from just website development with many templates and modules to pick from, to a full online footprint, SEO plan, social media coverage strategy, a hosting plan, and later a restaurant management system for those who opt into it.</p>


<p>GitHub Link to project <a href="https://github.com/hughybarra/final_project">Final project</a></p>