<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8"/>
		<title>Hugh Ybarra</title>

		<!-- css reset -->
		<link rel='stylesheet' href="css/reset.css">
		<!-- BootStrap CDN -Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- less -main.css -->
		<link rel="stylesheet" href="css/projects/projects.css">
		<!-- favicon -->
		<link rel="icon" href="media/images/portfolio/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="media/images/portfolio/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<div class="col-lg-10">
			<h1>Protozone</h1>
			<p>Protozone is an action script based game built on top of the starling api. Our team was tasked with building a game for a group project. My team and I managed to put this project together in just a few days</p>

			<p>My role in this project</p>
				<ul>
					<li>Enemy Movement</li>
					<li>Enemy AI</li>
					<li>Collision Detection</li>
					<li>Particle Effects Design / Implementation</li>
					<li>Bullet management</li>
					<li>Level Manager</li>
					<li>Memory allocation and optimization</li>
				</ul>

				<p>This is by far one of the most fun projects I have ever worked on</p>
			<p>GitHub link to project <a href="https://github.com/hughybarra/Protozone" target="_blank">Protozone</a></p>
		</div>

		<div class="col-lg-12 images_section">

			<img src="media/images/portfolio/projects/protozone/pGamePlay.png" alt="image of protozone game play" class="img-responsive col-lg-4 col-md-4 col-sm-4 col-xs-12">

			<img src="media/images/portfolio/projects/protozone/pHelp.png" alt="image of protozone game play" class="img-responsive col-lg-4 col-md-4 col-sm-4 col-xs-12">

			<img src="media/images/portfolio/projects/protozone/pStart.png" alt="image of protozone game play" class="img-responsive col-lg-4 col-md-4 col-sm-4 col-xs-12">
		</div>

		<div class="col-lg-12 footer">
			<p>This game was powered by</p>
			<img src="media/images/portfolio/projects/protozone/71squared.png" alt="71squared logo" class="col-lg-2
																								 col-md-2
																								 col-sm-2
																								 col-xs-5 col-xs-offset-1">
			<img src="media/images/portfolio/projects/protozone/title-logo.png" alt="starling framework logo" class="col-lg-2
																											col-md-2
																											col-sm-2
																											col-xs-5">
		</div>
	</body>
</html>