<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8"/>
		<title>Hugh Ybarra</title>

		<!-- css reset -->
		<link rel='stylesheet' href="css/reset.css">
		<!-- BootStrap CDN -Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- less -main.css -->
		<link rel="stylesheet" href="css/projects/projects.css">
	</head>
	<body>
		<div class="col-lg-10">
			<h1>Weather API </h1>
			<p>The Weather API is a simple api to get the weather forcast for your zip code location. The site uses the yahoo weather sevice and uses a zip code to pull down data from their server. Once the data is on my server I parse it and display in the browser.</p>

			<p>While interviewing with a company in Orlando Floria I was given this site as a test project. The purpose of this site was to prove that I konw how to do the basics of LAMP, server develpment, and javascript</p>

			<p>
				The Technology stack
				<ul>
					<li>LAMP</li>
					<li>Javascript</li>
					<li>CSS3 </li>
					<li>JQuery</li>
				</li>

			</p>
			<p>GitHub link to project <a href="https://github.com/hughybarra/WeatherAPI">Weather API</a></p>
		</div>

		<div class="col-lg-12 images_section">

			<img src="media/images/portfolio/projects/weather_api/sc_1.png" rel="image of weather api"
			class="img-responsive col-lg-5 col-lg-offset-1
								  col-md-5 col-md-offset-1
								  col-sm-5 col-md-offset-1
								  col-xs-12">
			<img src="media/images/portfolio/projects/weather_api/sc_2.png" rel="image of weather api" class="img-responsive col-lg-5
																														  col-md-5
																														  col-sm-5
																														  col-xs-12">
		</div>

	</body>
</html>